/* .display{
    margin-top: 10px;
    margin-right:10px ;
    
} */

.display {
  background-color: #f5f5f5;
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
