body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: #fff;
}

.parent{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  

}
.card{
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p{
  padding: 20px 0;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;

}